{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amadon</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" />
    </head>
    <body>
    <div class="container text-center mt-5">
    <h1>Amadon Store!</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <form action="{% url 'poorly_coded_store:pay' %}" method="post">
                    {% csrf_token %}
                    <td>{{product.description}}</td>
                    <td><input type="hidden" name="price" value="{{product.price}}">{{product.price}}</td>
                    <input type='hidden' name='product_id' value={{product.id}} />                   
                    <td><select name="quantity">
                        <option value="1">1</option>              
                        <option value="2">2</option>              
                        <option value="3">3</option>              
                    </select></td>
                    <td><input type="submit" value="Buy!"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
</html>